.hero {
  background-image: linear-gradient(
      135deg,
      rgba(54, 54, 54, 0.73),
      rgba(0, 0, 0, 0.2)
    ),
    url("../imgs/about-us/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero:nth-of-type(3) {
  background-image: linear-gradient(
      135deg,
      rgba(54, 54, 54, 0.73),
      rgba(0, 0, 0, 0.2)
    ),
    url("../imgs/about-us/contact-img.PNG");
}
