.benefits {
  padding-bottom: 3rem;
}

.benefits-title {
  font: var(--bold) var(--headline2-size) / var(--headline2-line-height)
    var(--font-family);
  margin: 3.3rem 0 2rem;
  text-align: center;
}

.benefit-container {
  padding-top: 1rem;
}

.benefit {
  position: relative;
  height: 300px;
  background-image: linear-gradient(var(--black), var(--grey));
  color: var(--white);
  font-weight: var(--extra-bold);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.benefit-text {
  text-align: center;
}

.benefit-index {
  position: absolute;
  top: 3%;
  left: 8%;
}

.benefit-description {
  margin: 1rem 0 1.5rem;
}

.benefits-paragraph,
.benefit-description {
  font: var(--paragraph-size) / var(--paragraph-line-height) var(--font-family);
  text-align: justify;
}
