.hero {
  color: var(--white);
  height: 800px;
  background-size: cover;
}

.hero-elements {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-bottom: 4rem;
}

.hero-title {
  font: var(--bold) var(--headline-size-lg) / var(--headline-line-height-lg)
    var(--font-family);
}

.hero-paragraph {
  font: var(--regular) var(--lead-paragraph-size) /
    var(--lead-paragraph-line-height) var(--font-family);
}

@media (max-width: 992px) {
  .hero-title {
    font: var(--bold) var(--headline-size) / var(--headline-line-height)
      var(--font-family);
  }
}
