.profiles {
  padding: 2rem 0;
}

.profiles-title {
  font: var(--bold) var(--headline2-size) / var(--headline2-line-height)
    var(--font-family);
  text-align: center;
  margin-bottom: 1.4rem;
}

.profile-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  border: 3px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.profile-img {
  width: 195px;
  height: 200px;
  border: 3px solid black;
  box-shadow: 0 0.2rem 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-name {
  font: var(--bold) var(--headline3-size) / var(--headline3-line-height)
    var(--font-family);
}

.profile-description {
  width: 80%;
  font: var(--regular) var(--lead-paragraph-size) /
    var(--lead-paragraph-line-height) var(--font-family);
  text-align: justify;
}
