.testimony {
  padding: 40px 40px 80px 40px;
}

.testimony-title {
  text-align: center;
  font: var(--bold) var(--headline2-size) / var(--headline2-line-height)
    var(--font-family);
  margin: 3.3rem 0 2rem;
}

.testimony-paragraph {
  font: var(--regular) var(--lead-paragraph-size) /
    var(--lead-paragraph-line-height) var(--font-family);
  text-align: center;
}

.testimony .carousel {
  max-width: 700px;
  /* height: 700px; */
}

.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}

.carousel-item {
  height: 500px;
}

.carousel-image {
  height: 100%;
}

#testimony-slider {
  margin: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
}

.carousel-caption > h3 {
  font: var(--bold) var(--headline3-size) / var(--headline3-line-height)
    var(--font-family);
}

.carousel-caption > p {
  font: var(--regular) var(--paragraph-size) / var(--paragraph-line-height)
    var(--font-family);
}

@media (max-width: 992px) {
  .carousel-item {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .carousel-item {
    height: 300px;
  }
}
